@import url(https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap);

.hero-text {
    font-family: "BBH Bogle", sans-serif;
    letter-spacing: 0.25rem;
    line-height: 80%;
    font-size: calc(1.5rem + 7.5vw);
    
}

.text-since{
    padding-top: 240px;
}

/* #span {
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0%);
}

#span:hover {
    /* transform: translate(0px, -5%) scale(1, 1.1); */
/* transform: translate3d(0px, -2.6125%, 0px) scale(1, 1.0522) !important */
/* transform: scale(1.6);
} */


/* .hero-text{
    white-space: pre-wrap;
    white-space-collapse: pre-wrap;
    text-wrap-mode: pre-wrap;
} */